@import "../config";


@keyframes exit {
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

.fadeOut {
    opacity: 1;
    transform: translateX(0);
    animation: exit 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInRight {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.fadeIn {
    transform: translateX(100px);
    opacity: 0;
    animation: fadeInRight 0.2s;
    animation-fill-mode: forwards;
}

.container {
    padding: 20px 20px 50px 20px;
    // padding-bottom: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    margin-bottom: 10px;
    cursor: pointer;

    .icon {
        color: black;
        font-size: 23px;
    }
}

.title {
    padding: 0px 11px;
    font-size: 25px;
    margin-bottom: 20px;
}

.buttonContainer {
    width: 100%;
    padding: 0px 10px;


    button {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background-color: black;
        font-size: 20px;
        font-family: $primary-font;
        color: white;
        @include flexCenter(column);
        cursor: pointer
    }
}

.productsList {
    padding: 12px;
    padding-right: 20px;
}

.productCard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
    div .name {
        font-size: 18px;
    }

    div p {
        font-size: 18px;
        font-weight: bold;
    }
}

.productName {
    display: flex;
    p {
        margin-right: 10px;
    }
}

.totalContainer {
    padding: 12px;
    padding-right: 20px;
    margin-top: 15px;

    .inset {
        width: 100%;
        height: 1.5px;
        background-color: #ddd;
        margin-bottom: 15px;
    }

    .totalText {
        text-align: end;
        font-size: 20px;
        font-weight: bold;
    }
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

$spinnerHeight: 30px;
.spinner {
    width: $spinnerHeight;
    height: $spinnerHeight;
    border-radius: $spinnerHeight/2;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(106, 106, 106);
    border-left-color: white;

    animation: rotating 1s 0.25s linear infinite;
}