$primary-font: "CircularStd";

// DIMENSIONS
$breakpoint-mobile: 481px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 950px;
$breakpoint-desktop: 1025px;
$breakpoint-thin: 380px;

@mixin flexCenter ($flex-direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex-direction;
}

// spinner
@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    
@mixin spinner() {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-radius: 12.5px;
    border-color:rgba(37, 37, 37, 0.3);
    border-width: 4px;
    border-left-color:black;
    font-size: 0;
    animation: rotating 1s 0.25s linear infinite;
}



@keyframes fadeInRight {
  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

@mixin fadeInRight {
  transform: translateX(150px);
  opacity: 0;
  animation: fadeInRight 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}
@mixin fadeInLeft {
  transform: translateX(-150px);
  opacity: 0;
  animation: fadeInLeft 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOutLeft {
  100% {
      transform: translateX(-100px);
      opacity: 0;
  }
}

@mixin fadeOutLeft {
  opacity: 1;
  transform: translateX(0);
  animation: fadeOutLeft 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOutRight {
  100% {
      transform: translateX(100px);
      opacity: 0;
  }
}

@mixin fadeOutRight {
  opacity: 1;
  transform: translateX(0);
  animation: fadeOutRight 0.2s;
  animation-fill-mode: forwards;
}
