@import './config';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
    font-family: $primary-font;
  }

  p {
    margin: 0px;
    padding: 0px;
  }
}


@font-face {
  font-family: "CircularStd";
  src: url('../fonts/CircularStd/CircularStd-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "CircularStd";
  src: url('../fonts/CircularStd/CircularStd-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}